@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: #3e3636;
}
h1 {
  padding-top: 50px;
  padding-left: 35px;
  color: white;
  display: inline-block;
}
.todo-box {
  border-radius: 30px 30px 0px 0px;
  width: 350px;
  height: 500px;
  margin: 50px auto;
  background-color: #28c7fa;
}
.top-box {
  position: relative;
  height: 190px;
}
.button-box {
  width: 350px;
  height: 430px;
  background-color: white;
  border-radius: 30px 30px 0px 0px;
}
.input-text {
  padding: 10px 15px;
  border-style: none;
  outline: none;
  margin-top: 20px;
  margin-left: 15px;
  background-color: #28c7fa;
  color: white;
}
.btn-box {
  float: right;
  padding-right: 30px;
  margin-top: 50px;
}
.add-btn {
  width: 80px;
  height: 80px;
  padding: 10px 15px;
  border: 1px solid white;
  border-radius: 50%;
  background-color: white;
  color: #28c7fa;
  font-weight: bold;
}

.input-box {
  padding-left: 10px;
}
.output-box {
  padding: 25px;
}

.list-item {
  width: 300px;
  padding: 20px;
  list-style: none;
  margin-bottom: 10px;
  border-radius: 20px;
  color: #28c7fa;
  font-weight: bolder;
}
.list-item:hover {
  background-color: #f2f2f2;
}
.del-btn {
  float: right;
  padding: 5px 5px;
  border-style: none;
  background-color: white;
  color: red;
}
.edit-btn {
  float: right;
  padding: 5px 5px;
  border-style: none;
  background-color: white;
  color: greenyellow;
}
::placeholder {
  color: white;
  font-size: 18px;
}
